<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisd.dbs.mapper.EquipmentMapper">
    <resultMap id="EquipmentResult" type="com.wisd.dbs.bean.Endpoint">
        <id property="id" column="no"/>
        <result property="name" column="name"/>
        <result property="modelType" column="model_type"/>
        <result property="statusId" column="status_id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="schoolId" column="school_id"/>
<!--        <result property="user" column="equip_account"/>-->
<!--        <result property="token" column="equip_pwd"/>-->
    </resultMap>
</mapper>